.invoice {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  padding: 15px 10px 25px 10px;
  border-radius: 8px;
  color: var(--secondaryText);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: var(--secondaryBackground);
}

.invoice > div:first-child {
  margin-bottom: 10px;
  padding-bottom: 5px;
  min-width: 160px;
  border-bottom: 1px solid var(--borderPrimary);
}

.details {
  gap: 10px;
  justify-content: start !important;
}
