.beverage {
  position: relative;
  justify-content: space-between !important;
  min-width: 140px;
  min-height: 26px;
  background-color: var(--secondaryBackground);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: var(--primaryText);
  cursor: pointer;
  border: 2px solid var(--borderPrimary);
  border-left: 1px solid var(--borderSecondary);
  border-top: 1px solid var(--borderSecondary);
  border-radius: 8px;
}

.beverage:active {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border-width: 2px 1px 1px 2px;
  border-color: var(--borderPrimary), var(--borderSecondary),
    var(--borderSecondary), var(--borderPrimary);
}

.counter {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: var(--countIndicator);
  position: absolute;
  color: white;
  font-size: 12px;
  top: -5px;
  right: -10px;
}
