.beverage {
  justify-content: space-between !important;
  width: 140px;
  padding: 3px 10px;
  background-color: var(--secondaryBackground);
  border: 1px solid var(--border);
  border-bottom-width: 2px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  position: relative;
}

.beverage:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.counter {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: var(--countIndicator);
  position: absolute;
  color: white;
  font-size: 12px;
  top: -5px;
  right: -10px;
}
