.beverage {
  justify-content: space-between !important;
  width: 140px;
  padding: 3px 10px;
  background-color: var(--secondaryBackground);
  border: 1px solid var(--border);
  border-bottom-width: 2px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.beverage:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
